.tc-yw { color: #FFE066; }
.tc-or { color: #FFA94D; }
.tc-re { color: #FF6B6B; }
.tc-pi { color: #F783AC; }
.tc-in { color: #818CF8; }
.tc-bl { color: #74C0FC; }
.tc-te { color: #20C997; }
.tc-gr { color: #51CF66; }
.tc-gy { color: #727272; }
.tc-br { color: #A07855; }

.hl-yw { background-color: #FFE066; }
.hl-or { background-color: #FFA94D; }
.hl-re { background-color: #FF6B6B; }
.hl-pi { background-color: #F783AC; }
.hl-in { background-color: #818CF8; }
.hl-bl { background-color: #74C0FC; }
.hl-te { background-color: #20C997; }
.hl-gr { background-color: #51CF66; }
.hl-gy { background-color: #727272; }
.hl-br { background-color: #A07855; }
